/.DS_Store
/Archiv
/ChatGPT Image 25. Dez. 2025, 15_23_30.png
/Million Dollar Bricks.pages
/cardano Archiv
/cardano.html
/million dollar brick.html
/onedollarbrick final.html
/onedollarbrick.html
/test werkzeug.js
/upload